.message {
  opacity: 0;
  
  border-radius: 5px;
  color: #1D1D7E;
  font-weight: bold;
  height: 40px;
  line-height: 36px;
  position: relative;
  text-align: center;
  transition-property: opacity;
  transition-duration: 1.5s;
}

.message.message-correct {
  background: #D5D5F6;
  opacity: 1;
}

.message.message-incorrect {
  background: #FFE492;
  opacity: 1;
}

.message.message-finished {
  background: #5A5ADB;
  color: #fff;
  opacity: 1;
}

.message.message-time {
  background: #FFE492;
  opacity: 1;
}