
h1, h2, h3 {
  font-family: 'Germania One', cursive;
  text-align: center;
  color: #181869;
}


.bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .cntnr-max {
    max-width: 720px;
  }
}
